################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Hotel/.vs/Hotel
/.vs/Hotel
